<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @factura.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @factura.apellido %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @factura.identificacion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @factura.telefono %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @factura.producto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @factura.descripcion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @factura.fecha %>
</p>

<p>
  <strong>Total:</strong>
  <%= @factura.total %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @factura.cantidad %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @factura.iva %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @factura.valor %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
