<div class="jumbotron">
  <h1>Torre: <%= @tower.name%> <br> Apartamento: <%= @home.number %></h1>
  <h2>propietario:</h2>
  <P><%= @home.owner %></P>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">lista Personas</div>
  <!-- Table -->
  <table class="table">
  <tr>
    <th>Nombre</th>
    <th>Identificacion</th>
  </tr>


<% @person.each do |people| %>

<tr>
    <td><%= people.name %></td>
    <td><%= people.ident %></td>
   <td><%=link_to 'editar' , edit_tower_home_person_path(@tower,@home,people)%></td>    
  </tr>
<% end %>
</table>
</div>


<section>
<h2>Agregar personas:</h2>
<%= form_for([@tower, @home, @home.people.build]) do |h| %>
  <p>
    <%= h.label :name,"Nombre" %><br>
    <%= h.text_field :name %>
  </p>
   <p>
    <%= h.label :ident,"Identificacion" %><br>
    <%= h.text_field :ident%>
  </p>
  
  <p>
    <%= h.submit %>
  </p>
<% end %>
</section>
 
<%= link_to 'Atras', tower_home_people_path %>
