<h1>Editar  Apartamento</h1>

<%= form_for [@tower,@home] do |f| %>
  <p>
    <%= f.label :number, "Numero" %>
   </p>
  <p>  <%= f.text_field :number %>
  </p>

   <p>
    <%= f.label :flat, "piso" %>
   </p>
  <p>  <%= f.text_field :flat %>
  </p>

   <p>
    <%= f.label :owner, "piso" %>
   </p>
  <p>  <%= f.text_field :owner %>
  </p>
<p>
    <%= f.label :identification, "identification" %>
   </p>
  <p>  <%= f.text_field :identification %>
  </p>


  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Atras', tower_homes_path %>
