<h1>Editar  Apartamento</h1>

<%= form_for @tower.homes do |home| %>
  <p>
    <strong>Numero:</strong>
    <%= home.number %>
  </p>
  <p>
    <strong>Piso:</strong>
    <%= home.flat %>
  </p>
  <p>
    <strong>Propietario:</strong>
    <%= home.owner %>
  </p>
  <p>
    <strong>Identificacion:</strong>
    <%= home.identification %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
